# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Exercícios</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

## Exercícios

In [5]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in lista:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
objetos = [
    {"nome": "João", "idade": 25, "peso": 70},
    {"nome": "Maria", "idade": 30, "peso": 60},
    {"nome": "Pedro", "idade": 20, "peso": 80},
    {"nome": "Ana", "idade": 22, "peso": 55},
    {"nome": "Carlos", "idade": 28, "peso": 90}
]

# Iterando sobre a lista de objetos
for obj in objetos:
    print(f"Nome: {obj['nome']}, Idade: {obj['idade']}, Peso: {obj['peso']}")

Nome: João, Idade: 25, Peso: 70
Nome: Maria, Idade: 30, Peso: 60
Nome: Pedro, Idade: 20, Peso: 80
Nome: Ana, Idade: 22, Peso: 55
Nome: Carlos, Idade: 28, Peso: 90

In [1]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
str1 = "Eu"
str2 = " sou"
str3 = str1 + str2

print(str3)

Eu sou

In [5]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla = [1, 2, 2, 3, 4, 4, 4, 5]
 
print("O número 4 aparece: " , tupla.count(4), " vezes")

O número 4 aparece:  3  vezes

In [7]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dic = {"Thiago":28,"Ana":20, "Vitoria":35, "Gabriel": 50 }

print(dic)

28

In [8]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dic = {"Thiago":28,"Ana":20, "Vitoria":35}
print(dic)

{'Thiago': 28, 'Ana': 20, 'Vitoria': 35}

In [10]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dic = {"Thiago":28,"Ana":20, "Vitoria":35}
dic["Carlos"] = 40

print(dic)

{'Thiago': 28, 'Ana': 20, 'Vitoria': 35, 'Carlos': 40}

In [12]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

dic = {"Thiago":28 , "lista":[1,2],"Ana":20, "Vitoria":35}
print(dic)

{'Thiago': 28, 'lista': [1, 2], 'Ana': 20, 'Vitoria': 35}

In [15]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.

lista = ["Thiago", (2,2) , {"nome" : "Thiago", "altura": 1.75}]

print(lista)

['Thiago', (2, 2), {'nome': 'Thiago', 'altura': 1.75}]

In [17]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

partefrase = frase[1:19]  # Lembre-se: o fim (19) é exclusivo!

print(parte_da_frase)

ientista de Dados

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>